<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robot">
  <joint name="laser_joint" type="fixed">
    <parent link="chassis"/>
    <child link="laser_link"/>
    <origin xyz="-0.05 0 0.15" rpy="0 0 0"/>
  </joint>

  <link name="laser_link">
    <visual>
      <origin xyz="0 0 0.025"/>
      <geometry>
        <cylinder radius="0.035" length="0.05"/>
      </geometry>
      <material name="red"/>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <cylinder radius="0.035" length="0.05"/>
      </geometry>
    </collision>
    <xacro:inertial_cylinder mass="0.1" length="0.05" radius="0.035">
      <origin xyz="0 0 0.025" rpy="0 0 0"/>
    </xacro:inertial_cylinder>
  </link>

  <gazebo reference="laser_link">
    <sensor name="laser" type="gpu_lidar">
      <pose>0 0 0.025 0 0 0</pose>
      <visualize>true</visualize>
      <update_rate>10</update_rate>
      <always_on>true</always_on>
      <gz_frame_id>laser_link</gz_frame_id> <!-- `frame_id` in non-fortress -->
      <topic>/scan</topic>
      <lidar>
        <scan>
          <horizontal>
            <samples>360</samples>
            <min_angle>-3.1415926</min_angle>
            <max_angle>3.1415926</max_angle>
          </horizontal>
        </scan>
        <range>
          <min>0.15</min>
          <max>6</max>
        </range>
        <noise>
          <type>gaussian</type>
          <mean>0</mean>
          <stddev>0.01</stddev>
        </noise>
      </lidar>
      <plugin name="gz::sim::systems::Sensors" filename="gz-sim-sensors-system">
      </plugin>
    </sensor>
  </gazebo>
</robot>