<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robot">
  <gazebo>
    <plugin name="gz::sim::systems::DiffDrive" filename="gz-sim-diff-drive-system">
      <!-- WHEEL INFO -->
      <left_joint>left_wheel_joint</left_joint>
      <right_joint>right_wheel_joint</right_joint>
      <wheel_separation>0.175</wheel_separation>
      <wheel_radius>0.0325</wheel_radius>

      <!-- LIMITS -->
      <min_linear_acceleration>-1.6</min_linear_acceleration>
      <max_linear_acceleration>1.6</max_linear_acceleration>

      <min_linear_velocity>-0.88</min_linear_velocity>
      <max_linear_velocity>0.88</max_linear_velocity>

      <!-- OUTPUT -->
      <frame_id>odom</frame_id>
      <child_frame_id>base_link</child_frame_id>
      <topic>/cmd_vel</topic>
      <odom_topic>/odom</odom_topic>
      <tf_topic>/tf</tf_topic>
    </plugin>
  </gazebo>
</robot>
